# Pandas

> Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. -- [Pandas](https://pandas.pydata.org)

The name Pandas is derived from the econometrics term _Panel Data_ and has two data structures, **_Pandas Series_** and **_Pandas DataFrame_**.

In [1]:
import numpy as np
import pandas as pd

## `Series`

[`Series`](https://pandas.pydata.org/docs/reference/series.html) is a one-dimensional array that can hold different data types.

In [2]:
groceries = pd.Series(data = [30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

print(groceries)

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

### `Series` attributes

Like `ndarray`'s, a `Series` also has [attributes](https://pandas.pydata.org/docs/reference/series.html#attributes) that allow us to retrieve information about itself.

In [3]:
print(f'Rank (dimensions): {groceries.ndim}')
print(f'Shape: {groceries.shape}')
print(f'Data type: {groceries.dtype}')
print('')

print(f'Values: {groceries.values}')
print(f'Index: {groceries.index}')

Rank (dimensions): 1
Shape: (4,)
Data type: object

Values: [30 6 'Yes' 'No']
Index: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

### Indexing and iteration

We can access a element in a Pandas `Series` using numerical index and/or labeled index. There are also [properties](https://pandas.pydata.org/docs/reference/series.html#indexing-iteration) to be explicit about which one to use.

In [4]:
print(f'Groceries 1st item: {groceries[-4]}')
print('')

print(f'Groceries 2nd and 3rd items:\n{groceries[["apples", "milk"]]}')
print('')

print(f'Groceries 4th item:\n{groceries.iloc[[3]]}')
print('')

print(f'Groceries 1st and 2nd items:\n{groceries.loc[["eggs", "apples"]]}')

Groceries 1st item: 30

Groceries 2nd and 3rd items:
apples      6
milk      Yes
dtype: object

Groceries 4th item:
bread    No
dtype: object

Groceries 1st and 2nd items:
eggs      30
apples     6
dtype: object

### Mathematical Operations

Like NumPy `ndarray`'s, we can perform mathematical operations, such as sum and subtract using symbols. We can also use NumPy mathematical functions on Pandas `Series`!

In [5]:
fruits = pd.Series(data = [10, 6, 3], index = ['apples', 'oranges', 'bananas'])

print(fruits + 2)
print('')

print(np.exp(fruits))
print('')

print(np.power(fruits, 2))

apples     12
oranges     8
bananas     5
dtype: int64

apples     22026.465795
oranges      403.428793
bananas       20.085537
dtype: float64

apples     100
oranges     36
bananas      9
dtype: int64

## `DataFrame`

[Pandas `DataFrame`'s](https://pandas.pydata.org/docs/reference/frame.html) are two dimensional data structures with labeled rows and columns, that can hold many data types, similiar to a spreadsheet or a table from a database.

### Frame creation

Before creating a `DataFrame`, we need a dictionary to pass to the [constructor](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html#pandas.DataFrame).

In [6]:
items = {'Alice': pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants']),
         'Bob': pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch'])}

shopping_carts = pd.DataFrame(items)

print(f'Shopping Carts:\n{shopping_carts}')

Shopping Carts:
         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

### `DataFrame` attributes

It's also possible to read information about its dimension, shape, size... There are a few [attributes](https://pandas.pydata.org/docs/reference/frame.html#attributes-and-underlying-data) to read metadata.

In [7]:
print(f'Shape {shopping_carts.shape}')
print(f'Rank (dimensions): {shopping_carts.ndim}')
print(f'# Elements: {shopping_carts.size}')
print(f'')

print(f'Data:\n{shopping_carts.values}')
print('')

print(f'Columns: {shopping_carts.columns}')
print('')

print(f'Index: {shopping_carts.index}')

Shape (5, 2)
Rank (dimensions): 2
# Elements: 10

Data:
[[500. 245.]
 [ 40.  nan]
 [110.  nan]
 [ 45.  25.]
 [ nan  55.]]

Columns: Index(['Alice', 'Bob'], dtype='object')

Index: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

### Indexing and iteration

To access a column in a `DataFrame` we use double square brackets. To access a row (index), we can use the `DataFrame.loc` attribute. Like a standard matrix, if we want information about a specific element, we provide its "coordinates" (column, than row).

In [8]:
items = [{'bikes': 20, 'pants': 30, 'watches': 35},
         {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

store_items = pd.DataFrame(items, index = ['store 1', 'store 2'])

print(f'Store Items:\n{store_items}')
print('')

print('Bikes and pants for each store:\n', store_items[['bikes', 'pants']])
print('')
print('Store 1 items:\n', store_items.loc[['store 1']])
print('')
print('Bikes in store 2:', store_items['bikes']['store 2'])

Store Items:
         bikes  pants  watches  glasses
store 1     20     30       35      NaN
store 2     15      5       10     50.0

Bikes and pants for each store:
          bikes  pants
store 1     20     30
store 2     15      5

Store 1 items:
          bikes  pants  watches  glasses
store 1     20     30       35      NaN

Bikes in store 2: 15

### Missing data handling

Missing data is a very common bad data found on datasets. Pandas assign `NaN` to missing data, and to deal with them, the first step is to count the number of `NaN`'s in the dataset.

In [9]:
items = [{'bikes': 20, 'pants': 30, 'watches': 35, 'shirts': 15, 'shoes': 8, 'suits': 45},
         {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants': 5, 'shirts': 2, 'shoes': 5, 'suits': 7},
         {'bikes': 20, 'pants': 30, 'watches': 35, 'glasses': 4, 'shoes': 10}]

store_items = pd.DataFrame(items, index = ['store 1', 'store 2', 'store 3'])

print(f'Store Items:\n{store_items}')
print('')
print(f'# NaNs: {store_items.isna().sum().sum()}')

Store Items:
         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

# NaNs: 3

Pandas provide a number of [methods to handle missing data](https://pandas.pydata.org/docs/reference/frame.html#missing-data-handling). The `DataFrame.isna` used above returns a `DataFrame` with boolean values, indicating where are the `NaN`'s. We could, for instance, use `DataFrame.notna` to return the opposite, or use `DataFrame.dropna` to remove a column or row with missing data.

In [10]:
print(f'Drop rows with NaN:\n{store_items.dropna(axis = 0)}')
print('')
print(f'Drop columns with Nan:\n{store_items.dropna(axis = 1)}')

Drop rows with NaN:
         bikes  pants  watches  shirts  shoes  suits  glasses
store 2     15      5       10     2.0      5    7.0     50.0

Drop columns with Nan:
         bikes  pants  watches  shoes
store 1     20     30       35      8
store 2     15      5       10      5
store 3     20     30       35     10

The `DataFrame.fillna` allows us to do _forward filling_ or _backward filling_, i.e. fill `NaN`'s with previous and next values, respectively, using specified axis. We can also fill using interpolation with the `DataFrame.interpolate` method.

In [11]:
print(f'Backward fill column:\n{store_items.fillna(method = "backfill", axis = 0)}')
print('')

print(f'Forward fill row:\n{store_items.fillna(method = "ffill", axis = 1)}')
print('')

print(f'(Linear) Interpolation:\n{store_items.interpolate()}')

Backward fill column:
         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0     50.0
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     NaN     10    NaN      4.0

Forward fill row:
         bikes  pants  watches  shirts  shoes  suits  glasses
store 1   20.0   30.0     35.0    15.0    8.0   45.0     45.0
store 2   15.0    5.0     10.0     2.0    5.0    7.0     50.0
store 3   20.0   30.0     35.0    35.0   10.0   10.0      4.0

(Linear) Interpolation:
         bikes  pants  watches  shirts  shoes  suits  glasses
store 1     20     30       35    15.0      8   45.0      NaN
store 2     15      5       10     2.0      5    7.0     50.0
store 3     20     30       35     2.0     10    7.0      4.0

### Input / Output

Pandas offers a great variety of [functions to deal with files](https://pandas.pydata.org/docs/reference/io.html), such as CSV, JSON or Parquet.

In [12]:
google_stock = pd.read_csv('../csv/GOOG.csv')

google_stock.head(10)

         Date       Open       High        Low      Close  Adj Close    Volume
0  2004-08-19  49.676899  51.693783  47.669952  49.845802  49.845802  44994500
1  2004-08-20  50.178635  54.187561  49.925285  53.805050  53.805050  23005800
2  2004-08-23  55.017166  56.373344  54.172661  54.346527  54.346527  18393200
3  2004-08-24  55.260582  55.439419  51.450363  52.096165  52.096165  15361800
4  2004-08-25  52.140873  53.651051  51.604362  52.657513  52.657513   9257400
5  2004-08-26  52.135906  53.626213  51.991844  53.606342  53.606342   7148200
6  2004-08-27  53.700729  53.959049  52.503513  52.732029  52.732029   6258300
7  2004-08-30  52.299839  52.404160  50.675404  50.675404  50.675404   5235700
8  2004-08-31  50.819469  51.519913  50.749920  50.854240  50.854240   4954800
9  2004-09-01  51.018177  51.152302  49.512966  49.801090  49.801090   9206800

### Computations / Descriptive Stats

Like NumPy, Pandas also have [methods for statistical data](https://pandas.pydata.org/docs/reference/frame.html#computations-descriptive-stats)!

In [13]:
print(google_stock.describe())
print('')

print(f'Highest high: {google_stock["High"].max()}')
print(f'Lowest low: {google_stock["Low"].min()}')
print('')

print(f'Correlation:\n{google_stock.corr()}')

              Open         High          Low        Close    Adj Close  \
count  3313.000000  3313.000000  3313.000000  3313.000000  3313.000000
mean    380.186092   383.493740   376.519309   380.072458   380.072458
std     223.818650   224.974534   222.473232   223.853780   223.853780
min      49.274517    50.541279    47.669952    49.681866    49.681866
25%     226.556473   228.394516   224.003082   226.407440   226.407440
50%     293.312286   295.433502   289.929291   293.029114   293.029114
75%     536.650024   540.000000   532.409973   536.690002   536.690002
max     992.000000   997.210022   989.000000   989.679993   989.679993

             Volume
count  3.313000e+03
mean   8.038476e+06
std    8.399521e+06
min    7.900000e+03
25%    2.584900e+06
50%    5.281300e+06
75%    1.065370e+07
max    8.276810e+07

Highest high: 997.2100220000001
Lowest low: 47.669952

Correlation:
               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.999904  0.999845  0.999745   0.999745 -0.564258
High       0.999904  1.000000  0.999834  0.999868   0.999868 -0.562749
Low        0.999845  0.999834  1.000000  0.999899   0.999899 -0.567007
Close      0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Adj Close  0.999745  0.999868  0.999899  1.000000   1.000000 -0.564967
Volume    -0.564258 -0.562749 -0.567007 -0.564967  -0.564967  1.000000

### `DataFrame.groupby`

Like a database `group by` clause, a `DataFrame` also has [`DataFrame.groupby`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) method, used to aggregate data on one or more columns.

In [14]:
fake_company = pd.read_csv('../csv/fake-company.csv')

print(fake_company.head(10))
print('')

print(fake_company.groupby(['Year'])['Salary'].sum())
print('')

print(fake_company.groupby(['Year', 'Department'])['Salary'].sum())
print('')

print(fake_company.groupby(['Year', 'Name'])['Salary'].sum())

   Year     Name Department  Age  Salary
0  1990    Alice         HR   25   50000
1  1990      Bob         RD   30   48000
2  1990  Charlie      Admin   45   55000
3  1991   Dakota         HR   26   52000
4  1991     Elsa         RD   31   50000
5  1991    Frank      Admin   46   60000
6  1992    Grace      Admin   27   60000
7  1992  Hoffman         RD   32   52000
8  1992    Inaar      Admin   28   62000

Year
1990    153000
1991    162000
1992    174000
Name: Salary, dtype: int64

Year  Department
1990  Admin          55000
      HR             50000
      RD             48000
1991  Admin          60000
      HR             52000
      RD             50000
1992  Admin         122000
      RD             52000
Name: Salary, dtype: int64

Year  Name
1990  Alice      50000
      Bob        48000
      Charlie    55000
1991  Dakota     52000
      Elsa       50000
      Frank      60000
1992  Grace      60000
      Hoffman    52000
      Inaar      62000
Name: Salary, dtype: int64

# Mini-Project

At the end of lesson 4, the mini-project called "Statistics from Stock Data" should be completed. The solution was added at [pandas-mini-project.ipynb](../quizes/pandas.ipynb).